.app-header {
  display: flex;
  justify-content: flex-end;
  height: 60px;
  position: sticky;
  top: 0;
  align-items: center;
  z-index: 10;
  padding: 16px 32px;

  .btn-login {
    border-radius: 500px;
    font-size: inherit;
    padding-block: 12px;
    padding-inline: 32px;
  }

  .btn-signup {
    font-weight: 700;
    background-color: transparent;
    border: none;
    border-radius: 500px;
    text-align: center;
    vertical-align: middle;
    color: var(--text-subdued, #6a6a6a);
    padding-block: 14px;
    padding-inline: 32px;
  }

  .btn-user-menu {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-margin-start: 16px;
    align-items: center;
    background-color: rgba(0, 0, 0, .7);
    border: 0;
    border-radius: 23px;
    color: #fff;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8px;
    height: 32px;
    justify-content: center;
    margin-inline-start: 16px;
    padding: 2px;
    position: relative;
  }
}