.genre-container {
    padding-bottom: 32px;
    width: 100%;
    height: 100%;

    h2 {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.75rem;
        letter-spacing: -0.04em;
        height: 28px;
        margin-bottom: 23px;
        
    }

    .genre-list {
        grid-template-columns: repeat(auto-fill,minmax(135px,1fr));   
        grid-gap: 18px;

        @media (min-width: $break-lg) {
           grid-gap: 24px;
           grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
          }
    }

}