.liked-songs-hero {
    height: 30vh;
    max-height: 500px;
    min-height: 280px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    overflow: hidden;
    position: relative;


    .background-color,
    .background-shadow {
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .background-color {
        background-color: rgb(80, 56, 160);
    }

    .background-shadow {
        background: linear-gradient(transparent 0, rgba(0, 0, 0, .5) 100%)
    }

    @include for-mobile-layout{
        padding-top: 20px;
        .station-info {
            flex-wrap: nowrap;
        }

    }

    @include for-small-layout {
        // .station-name{
        //     font-size: min(max(4.5vw,48px));
        //     line-height: min(max(4.5vw,48px));
        //     letter-spacing: -0.05em;

        // }
        .station-info {
            flex-wrap: wrap;
        }

        .hero-img {
            height: 192px;
            min-width: 192px;
            width: 192px;
        }

    }

    @include for-large-layout {
        padding-left: 32px;
        padding-right: 32px;

        // .station-name{
        //     font-size: min(max(4.5vw,72px));
        //     line-height: min(max(4.5vw,72px));
        //     letter-spacing: -0.05em;
            
        // }
        
    }

    @include for-extra-large-layout {

        // .station-name{
        //     font-size: min(max(5vw,96px));
        //     line-height: min(max(5vw,96px));
        //     letter-spacing: -0.06em;
        // }
        // .hero-details{
        //     align-self: center;
        // }

        .hero-img {
            height: 232px;
            min-width: 232px;
            min-height: 232px;
            width: 232px;
        }
    }


    .hero-img {
        margin-inline-end: 24px;
        margin-right: 20px;
        justify-content: center;
        background-color: $clr11;
        box-shadow: 0 4px 60px rgb(0 0 0 / 50%);
        display: flex;
        align-items: center;
        object-fit: cover;
        z-index: 0;

    }

    .hero-details {
        z-index: 0;


        .playlist-txt {
            font-weight: 700;
            font-size: 12px;
            margin-top: 4px;
            line-height: 16px;
            margin-bottom: 0;
        }

        .station-name-container {
            overflow: hidden;
            word-break: break-word;
            text-align: left;
            width: 100%;
            display: -webkit-box;

            .station-name {
                font-size: min(max(4.5vw, 48px));
                line-height: min(max(4.5vw, 48px));
                width: 100%;
                padding: 0.08em 0px;
                margin-bottom: 0;
                font-weight: 900;

            }
        }

        .station-info {
            
            margin-top: 8px;
            font-family: circular-medium;
            white-space: nowrap;

            .avatar-container {
                height: 24px;
                width: 24px;

                img {
                    border-radius: 50%;
                }

            }

            .default-avatar-container {
                height: 28px;
                width: 28px;
                background-color: #535353;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    fill: $clr8;
                    margin-inline-end: 0;
                }
            }

            .created-by {
                grid-gap: 4px;
                display: grid;
                grid-auto-flow: column;
                align-items: center;
            }

            .created-by::after {
                content: "•";
                margin: 0px 4px;
            }

        }
    }

    
}