.nav-container {
    display: flex;
    flex-direction: column;
    background-color: $clr6;
    width: 241px;
    padding-top: 24px;
    grid-area: nav-container;


    .logo-container {
        width: 253px;
        height: 40px;
        margin-bottom: 18px;
        padding: 0 24px;

        .logo-svg {
            height: 40px;
            max-width: 131px;
        }

    }

    .nav-list {
        list-style: none;
        padding: 0px 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        a {
            display: flex;
            gap: 16px;
            align-items: center;

            &>* {
                transition: .4s;
            }

            &.active>*,
            &:hover svg,
            &:hover span {
                color: $clr8;
                fill: $clr8;
                transition: 0.4s;
            }

            &:hover,
            &.active {
                .create-playlist {
                    background-color: $clr8;

                    svg {

                        fill: $clr3;
                    }
                }
            }


        }

        span {
            color: $clr7;
        }

        .create-playlist-nav {
            margin-top: 24px;
        }

        .create-playlist {
            background-color: $clr7;
            height: 24px;
            justify-content: center;
            width: 24px;
            border-radius: 2px;
            display: flex;
            align-items: center;

            svg {
                fill: #000
            }



        }

        .liked-songs {
            background: linear-gradient(135deg, #450af5, #c4efd9);
            height: 24px;
            width: 24px;
            border-radius: 2px;
            justify-content: center;
            align-items: center;
            display: flex;
        }

        .separation-line {
            margin: 8px
        }
    }
}