.nav-container {
    display: flex;
    flex-direction: column;
    background: $clr6;
    width: 241px;
    padding-top: 24px;
    grid-area: nav-container;

    @include for-mobile-layout {
        width: 100%;
        padding-top: 0px;
        margin: 0px;
        display: grid;
        grid-template-columns: 1fr;
        background: linear-gradient(180deg, rgba(18, 18, 18, 0) 3%, rgba(18, 18, 18, .1) 6%, rgba(18, 18, 18, .4) 11%, rgba(18, 18, 18, .6) 16%, rgba(18, 18, 18, .8) 25%, rgba(18, 18, 18, .9) 40%, #121212 81%);
    }

    .activity-log {
        padding: 5px 30px 5px 30px;
        overflow: auto;
        height: calc(100vh - 470px);
        border-top: 0.7px solid #424242;
        border-bottom: 0.7px solid #424242;

        .activity-log-container {
            display: flex;
            flex-direction: column-reverse;
            gap: 10px;
        }

        @include for-mobile-layout {
            display: none;
        }

        .title {
            text-decoration: underline;
            margin-bottom: 8px;
        }

        .activity-preview {
            display: flex;
            flex-direction: column;
            gap: 5px;
            border-bottom: 0.7px solid #424242;
            position: relative;
            padding: 8px 0;

            .username {
                color: $clr4;
            }

            .activity-timestamp {
                color: $clr7;
                position: absolute;
                bottom: -8px;
                right: 12px;
                background: #000;
                letter-spacing: -0.04em;
                font-size: 12px;
                padding: 0 5px;
            }

            .activity-type {
                text-transform: capitalize;
            }
        }

        .activity-preview:last-child {
            margin-top: 5px;
        }


        .user-container {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .default-avatar-container {
            height: 28px;
            width: 28px;
            background-color: #535353;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                border-radius: 50%;
            }

            svg {
                fill: $clr8;
                margin-inline-end: 0;
            }
        }
    }

}




.logo-container {
    width: 253px;
    height: 40px;
    margin-bottom: 18px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    gap: 6px;

    .brand-txt {
        font-size: 1.7rem;
    }

    @include for-mobile-layout {
        display: none;

    }

    .logo-svg {
        height: 40px;
        max-width: 131px;
    }

}

.nav-list {
    list-style: none;
    padding: 0px 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 5px 30px 5px 30px;


    @include for-mobile-layout {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 5px 5px;
        

        li {
            flex-grow: 1;
        }
    }


    a {
        display: flex;
        gap: 16px;
        align-items: center;

        @include for-mobile-layout {
            align-items: center;
            flex-direction: column;
            gap: 3px;
        }

        &>* {
            transition: .4s;
        }

        &.active>*,
        &:hover svg,
        &:hover span {
            color: $clr8;
            fill: $clr8;
            transition: 0.4s;
        }

        &:hover,
        &.active {
            .create-playlist {
                background-color: $clr8;

                svg {

                    fill: $clr3;
                }
            }
        }


    }

    span {
        color: $clr7;

        @include for-mobile-layout {
            margin-top: 5px;
            text-align: center;
            font-size: 11px;
            white-space: nowrap;
        }

    }

    .create-playlist-nav {
        margin-top: 24px;

        @include for-mobile-layout {
            margin: 0;
        }
    }

    .create-playlist {
        background-color: $clr7;
        height: 24px;
        justify-content: center;
        width: 24px;
        border-radius: 2px;
        display: flex;
        align-items: center;

        svg {
            fill: #000
        }



    }

    .liked-songs {
        background: linear-gradient(135deg, #450af5, #c4efd9);
        height: 24px;
        width: 24px;
        border-radius: 2px;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .separation-line {
        margin: 8px
    }



}