.song-preview {
    display: grid;
    grid-template-columns: 60px 60px 2fr 1fr 80px 50px;
    gap: 5px;
    padding: 6px;
    cursor: default !important;
    height: 56px;
    align-items: center;
    color: $clr7;
    position: relative;
    // text-overflow: ellipsis;

    .song-number {
        position: absolute;
    }

    &:hover {
        .btn-play {
            opacity: 1;
        }

        .song-number {
            opacity: 0;
        }

        background-color: rgba(255, 255, 255, .1);
    }

    .btn-play {
        background-color: transparent;
        opacity: 0;
        border: none;
        position: absolute;
        // left: -1px;

        &>* {
            fill: $clr8;
        }
    }

    img {
        width: 50px;
    }

    .title {
        align-self: center;
        // width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .btn-more-options {
        background-color: transparent;
        border: none;

        svg {
            fill: $clr8;
        }
    }

    .options-menu {
        z-index: 100;
        position: absolute;
        top: -20px;
        right: 50px;
        margin: 0px;
        min-width: 196px;

        .option-list {
            background-color: #282828;
            border-radius: 4px;
            box-shadow: 0 16px 24px rgb(0 0 0 / 30%), 0 6px 8px rgb(0 0 0 / 20%);
            max-height: calc(100vh - 24px);
            max-width: 350px;
            min-width: 160px;
            overflow-y: auto;
            padding: 4px;

            .option {

                background: transparent;
                border: 0;
                border-radius: 2px;
                color: rgba(255, 255, 255, .9);
                text-decoration: none;
                align-items: center;
                display: flex;
                gap: 8px;
                height: 40px;
                justify-content: space-between;
                padding: 12px;
                padding-inline-end: 8px;
                position: relative;
                text-align: start;
                user-select: none;
                width: 100%;

                &:hover {
                    background-color: lighten($clr11, 12%);

                }
            }
        }
    }

    .button-add {
        width: 59px;
        padding-block: 6.5px;
        border-radius: 500px;
        font-size: inherit;
        padding-inline: 15px;
        -webkit-tap-highlight-color: transparent;
        background-color: transparent;
        color: $clr2;
        border: 1px solid var(--essential-subdued, #878787);
    }

    .button-add:focus-visible {
        outline: -webkit-focus-ring-color auto 1px;
    }

    .play-song-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}