.station-modal {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background-color: rgb(0 0 0 / 70%);
    z-index: 20;

    

    @include for-mobile-layout {
        .station-modal-content {
            min-width: 300px;
            display: flex;
            flex-direction: column;

            label {
                height: 190px;
                width: 190px;

            }
        }

        .edit-details-title {
            padding: 20px 24px 10px;
            white-space: nowrap;
        }

        .edit-details-inputs {
            flex-direction: column;
            align-items: center;
        }

        .hero-img {
            margin: 0;
        }

        .bttns-input {
            align-items: center;
        }

        .album-image-description {
            height: 70px;
        }
        .save-container-modal{
            width: 100%;
            justify-content: flex-end;
            display: flex;
        }
    }

    @include for-small-layout {
        .station-modal-content {
            min-width: 524px;
            display: flex;
            flex-direction: column;

            label {
                height: 0;

            }
        }

        .edit-details-title {
            padding: 24px;
        }

        .hero-img {
            margin-inline-end: 24px;
        }

        .bttns-input {
            align-items: flex-end;
        }

        .album-image-description {
            height: 70px;
        }

    }

    .hero-img {
        justify-content: center;
        background-color: $clr11;
        box-shadow: 0 4px 60px rgb(0 0 0 / 50%);
        display: flex;
        align-items: center;


        .pencil {
            height: 48px;
            width: 48px;
            display: none;
        }

        .station-def-icon {
            height: 48px;
            width: 48px;
        }

        img {
            object-fit: cover;
        }


    }

    .hero-img:hover {
        .pencil {
            display: block;

        }

        .station-def-icon {
            display: none;
        }

        img {
            display: none;
            z-index: -1;
        }
    }

    .station-modal-content {
        background-color: $clr11;
        position: absolute;
        border-radius: 8px;
        box-shadow: 0 4px 4px rgb(0 0 0 / 30%);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);


        .modal-hero-img {
            height: 190px;
            width: 190px;
        }

        .edit-details-title {
            display: grid;
            grid-template-columns: 1fr 2fr 20px;
        }

        .bttns-input {
            display: flex;
            flex-direction: column;
            gap: 8px;

            &>*:not(:last-child){
                width: 100%;
            }
        }

        .edit-details-inputs {
            display: flex;
            grid-gap: 16px;
            padding: 0 24px 24px;
        }

        .img-input {
            display: none;
        }

        .title-input {
            background: rgba(255, 255, 255, .1);
            border: 1px solid transparent;
            border-radius: 4px;
            color: #fff;
            font-family: inherit;
            font-size: 14px;
            height: 40px;
            padding: 0 12px;
            width: 100%;

        }

        .title-input:focus-visible {
            border-radius: 0px;
            outline: none;
        }

        .album-image-description {
            background: rgba(255, 255, 255, .1);
            border: 1px solid transparent;
            border-radius: 4px;
            color: #fff;
            font-family: inherit;
            font-size: 14px;
            padding: 8px 8px 28px;
            resize: none;
            width: 100%;
            // margin-top: 8px;
        }

        .album-image-description:focus-visible {
            border-radius: 0px;
            outline: none;
        }

        .save-button {
            border-radius: 500px;
            font-size: inherit;
            padding-block: 12px;
            padding-inline: 32px;
        }

        .save-button:focus-visible {
            outline: -webkit-focus-ring-color auto 1px;
        }

        .save-button:hover {
            padding-inline: 35px;
        }

        .station-modal-text {
            font-size: 0.6875rem;
            line-height: 1rem;
            text-transform: none;
            letter-spacing: normal;
            padding: 21px;
        }

        .multiSelectContainer {
            width: 100%;
            border: none;
        }

        .multiSelectContainer ul {
            border: none;

        }

        .searchWrapper {
            background: rgba(255, 255, 255, 0.1);
            color: $clr6;
            border: none;
        }

        .optionListContainer {
            background-color: #3E3E3E;
            border: none;
        }



    }

}