.station-hero {
    height: 30vh;
    max-height: 500px;
    min-height: 280px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    position: relative;

    .background-color,
    .background-shadow {
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .background-shadow {
        background: linear-gradient(transparent 0, rgba(0, 0, 0, .5) 100%)
    }

    @include for-mobile-layout {
        flex-direction: column;
        align-items: center;
        height: 100%;
        gap: 16px;
        padding-top: 20px;
        padding-left: 0;
        padding-right: 0;

        .hero-img {
            margin: 0;
            height: 50vw;
            width: 50vw;
        }
    }

    @include for-small-layout {

        // .station-name{
        //     font-size: min(max(4.5vw,48px));
        //     line-height: min(max(4.5vw,48px));
        //     letter-spacing: -0.05em;

        // }

        .hero-img {
            height: 192px;
            min-width: 192px;
            width: 192px;
        }

    }

    @include for-medium-layout {
        // .station-name{
        //     font-size: min(max(4.5vw,64px));
        //     line-height: min(max(4.5vw,64px));
        //     letter-spacing: -0.05em;

        // }
    }

    @include for-large-layout {
        padding-left: 32px;
        padding-right: 32px;

        // .station-name{
        //     font-size: min(max(4.5vw,72px));
        //     line-height: min(max(4.5vw,72px));
        //     letter-spacing: -0.05em;

        // }

    }

    @include for-extra-large-layout {

        // .station-name{
        //     font-size: min(max(5vw,96px));
        //     line-height: min(max(5vw,96px));
        //     letter-spacing: -0.06em;
        // }
        // .hero-details{
        //     align-self: center;
        // }

        .hero-img {
            height: 232px;
            min-width: 232px;
            min-height: 232px;
            width: 232px;
        }
    }



    .hero-img {
        margin-inline-end: 24px;
        margin-right: 20px;
        justify-content: center;
        background-color: $clr11;
        box-shadow: 0 4px 60px rgb(0 0 0 / 50%);
        display: flex;
        align-items: center;
        z-index: 0;


        .pencil {
            height: 48px;
            width: 48px;
            display: none;
        }

        .station-def-icon {
            height: 48px;
            width: 48px;
        }

        img {
            object-fit: cover;
        }


    }

    .hero-img:hover {
        .pencil {
            display: block;

        }

        .station-def-icon {
            display: none;
        }

        img {
            display: none;
            z-index: -1;
        }
    }

    .hero-details {
        display: flex;
        flex-direction: column;
        z-index: 0;

        .playlist-txt {
            font-weight: 700;
            font-size: 12px;
            margin-top: 4px;
            line-height: 16px;
            margin-bottom: 0;
        }

        .station-name-container {
            overflow: hidden;
            word-break: break-word;
            text-align: left;
            width: 100%;
            display: -webkit-box;

            .station-name {
                font-size: min(max(4.5vw, 48px));
                line-height: min(max(4.5vw, 48px));
                width: 100%;
                padding: 0.08em 0px;
                margin-bottom: 0;
                font-weight: 900;
                cursor: pointer;

            }
        }

        .station-description {
            color: rgba(255, 255, 255, .7);
            align-items: center;
            display: flex;
            font-size: 14px;
            line-height: 16px;
            margin-top: 8px;
            margin-bottom: 0;
            font-family: circular-medium,sans-serif;
        }

        .station-info {
            flex-wrap: wrap;
            margin-top: 8px;
            font-family: circular-medium;

            .like-count::before,
            .duration-and-song-count-container::before {
                content: "•";
                margin: 0px 4px;
            }

            .station-duration {
                color: rgba(255, 255, 255, .7);
                white-space: nowrap;
            }
        }
    }
}

.hero-footer {
    height: 104px;
    background: rgba(40, 39, 39, 0.181);
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;

    .buttons {
        display: flex;
        align-items: center;
        position: relative;

        .btn-play {
            @include btn-toggle-play();
            margin-inline-end: 32px;
            width: 56px;
            height: 56px;

            svg {
                width: 22px;
                height: 22px;
            }
        }

        .btn-like {
            margin-inline-end: 24px;

            svg {
                width: 32px;
                height: 32px;
            }

            &.unliked:hover {
                svg {
                    fill: $clr8;
                }
            }

        }

        .btn-more-hero-footer {
            width: 32px;
            height: 32px;

            svg {
                width: 24px;
                height: 24px;
                fill: $clr7;

                &:hover {
                    fill: $clr8;
                }
            }

        }

        .station-options-menu {
            z-index: 100;
            position: absolute;
            margin: 0px;
            min-width: 196px;

            .option-list {
                background-color: #282828;
                border-radius: 4px;
                box-shadow: 0 16px 24px rgb(0 0 0 / 30%), 0 6px 8px rgb(0 0 0 / 20%);
                max-height: calc(100vh - 24px);
                max-width: 350px;
                min-width: 160px;
                overflow-y: auto;
                padding: 4px;

                .option {

                    background: transparent;
                    border: 0;
                    border-radius: 2px;
                    color: rgba(255, 255, 255, .9);
                    text-decoration: none;
                    align-items: center;
                    display: flex;
                    gap: 8px;
                    height: 40px;
                    justify-content: space-between;
                    padding: 12px;
                    padding-inline-end: 8px;
                    position: relative;
                    text-align: start;
                    user-select: none;
                    width: 100%;

                    &:hover {
                        background-color: lighten($clr11, 12%);

                    }
                }

            }


        }
    }


}

.table-header {
    font-family: circular-medium;
    display: grid;
    grid-template-columns: 16px 6fr 2fr minmax(120px, 1fr);
    gap: 16px;
    // padding: 0 16px;
    cursor: default;
    height: 56px;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    color: $clr7;

    .hashtag {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .duration-container {
        justify-self: end;
        margin-inline-end: 40px;
    }

}