.hero-container {
    .hero-content {
        height: 30vh;
        max-height: 500px;
        min-height: 280px;
        display: flex;
        align-items: flex-end;
        padding-bottom: 24px;
        padding-left: 16px;
        padding-right: 16px;
        width: 100%;

        @include for-small-layout{
            .station-name{
                line-height: 48px;
                font-size: 48px;
                letter-spacing: -0.04em;

            }

            .hero-img {
                height: 192px;
                min-width: 192px;
                width: 192px;
            }

        }

        @include for-large-layout{
            padding-left: 32px;
            padding-right: 32px;
            .station-name{
                line-height: 72px;
                font-size: 72px;
                letter-spacing: -0.05em;

            }
        }
        @include for-extra-large-layout{
            
            .station-name{
                line-height: 96px;
                font-size: 96px;
                letter-spacing: -0.06em;
            }

            .hero-img {
                height: 232px;
                min-width: 232px;
                width: 232px;
            }
        }
        
        .hero-img-main {
            max-height: 232px;
            max-width: 232px;
            margin-top: 24px;
        }

        .hero-img {
            margin-inline-end: 24px;
            min-width: 192px;
            min-height: 192px;
            margin-right: 20px;
            justify-content: center;
            background-color: $clr11;
            box-shadow: 0 4px 60px rgb(0 0 0 / 50%);
            display: flex;
            align-items: center;


            .pencil {
                height: 48px;
                width: 48px;
                display: none;
            }

            .station-def-icon {
                height: 48px;
                width: 48px;
            }

            img {
                object-fit: cover;
            }


        }

        .hero-img:hover {
            .pencil {
                display: block;

            }

            .station-def-icon {
                display: none;
            }

            img {
                display: none;
                z-index: -1;
            }
        }

        .hero-details {
            display: flex;
            flex-direction: column;

            .playlist-txt {
                font-weight: 700;
                font-size: 12px;
                margin-top: 4px;
                line-height: 16px;
                margin-bottom: 0;
            }

            .station-name-container {
                overflow: hidden;
                word-break: break-word;
                text-align: left;
                width: 100%;
                display: -webkit-box;

                .station-name {
                    width: 100%;
                    padding: 0.08em 0px;
                    margin-bottom: 0;
                    font-weight: 900;
                    cursor: pointer;

                }
            }

            .station-info {
                flex-wrap: wrap;
                margin-top: 8px;
                font-family: circular-medium;

                .created-by::after, .like-count::after{
                    content: "•";
                    margin: 0px 4px;
                }

                .station-duration{
                    color: rgba(255,255,255,.7);
                    white-space: nowrap;
                }
            }
        }
    }

    .hero-footer {
        height: 104px;
        background: rgba(40, 39, 39, 0.181);
        display: flex;
        align-items: center;
        padding-top: 24px;
        padding-bottom: 24px;

        .buttons {
            display: flex;
            align-items: center;

            .btn-play {
                @include btn-toggle-play();
                margin-inline-end:32px;
                width: 56px;
                height: 56px;

                svg {
                    width: 22px;
                    height: 22px;
                }
            }
            
            .btn-like {
                margin-inline-end: 24px;

                svg {
                    width: 32px;
                    height: 32px;
                }

                &:hover {
                    svg {
                        fill: $clr8;
                    }
                }
            }
            
            .btn-more-hero-footer  {
                width: 32px;
                height: 32px;
                svg {
                    width: 24px;
                    height: 24px;
                    fill: $clr7;
                    
                    &:hover {
                        fill: $clr8;
                    }
                }
                
            }
        }


    }

    .table-header {
        font-family: circular-medium;
        display: grid;
        grid-template-columns: 16px 4fr 2fr minmax(120px, 1fr);
        gap: 16px;
        padding: 0 16px;
        cursor: default;
        height: 56px;
        align-items: center;
        border-bottom: 1px solid rgba(255, 255, 255, .1);
        color: $clr7;

        .hashtag {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .duration-container {
            justify-self: end;
            margin-inline-end: 40px;
        }

    }
}