.home-page {
    grid-gap: 24px;
    display: grid;
    padding-top: 24px;
    padding-left: 32px;
    padding-right: 32px;

    @media (max-width: $break-sm) {
        padding-right: 0px;
        padding-left: 15px;
        grid-gap: 0px;
      }

    .station-collection {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
        min-height: 300px;
        min-width: 100%;
        position: relative;


    }
}