.home-page {
  padding-right: 0px;
  padding-left: 15px;
  grid-gap: 0px;

  
  @include for-small-layout {
    grid-gap: 24px;
    display: grid;
    padding-top: 24px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .station-collection {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    min-height: 300px;
    position: relative;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    overscroll-behavior-x: contain;

    @include for-small-layout {
      min-width: 100%;

      .station-list {
        padding-right: 0;

        grid-gap: var(--grid-gap);
        display: grid;
        grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
        grid-auto-rows: 0;
        grid-template-rows: 1fr;
        overflow-y: hidden;
        overflow-x: auto;

        .station-preview {
          width: auto;

        }
      }
    }

    .station-list {
      padding-bottom: 10px;
    }

    .tag-title-container {
      margin: 1rem 0 2rem;


      .tag-title {
        font-family: bold circular, gotham-bold, helvetica, arial, sans-serif;
        flex: 1;
        margin: 0;
      }

      .link-see-all {
        -webkit-tap-highlight-color: transparent;
        font-size: 12px;
        line-height: 0.857rem;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: 600;
        color: $clr7;

        @include for-mobile-layout {
          display: none;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }

    @include for-mobile-layout {
      margin-bottom: 0px;
    }
  }
}