.home-page {
    grid-gap: 24px;
    display: grid;
    padding-top: 24px;
    padding-left: 32px;
    padding-right: 32px;

    .station-collection {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
        min-height: 300px;
        min-width: 100%;
        position: relative;


    }
}