.library {
    min-height: 100%;
    padding: 0 32px;

    .library-title {
        place-content: space-between;
        align-items: center;
        color: $clr8;
        display: flex;
        margin: 16px 0px;
    }
    .library-list{
        @media (max-width: $break-sm) {
            grid-gap: 24px;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        }
    }

}