.library {
    min-height: 100%;
    padding: 0 32px;

    .library-title {
        place-content: space-between;
        align-items: center;
        color: $clr8;
        display: flex;
        margin: 16px 0px;
    }

    .library-list {
        .station-list {
            overflow-y: visible;
            grid-auto-flow: row;
            @include for-mobile-layout {
                grid-auto-flow: unset;
                grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
                overflow-x: unset;
                padding-right: 0px;
            }
        }
    }
}