.station-details {
    background-color: $clr12;
    min-height: 100vh;
    padding-bottom: 20px;
}

.background-fade {
    background-image: linear-gradient(rgba(0,0,0,.6) 0,#121212 100%);
    height: 232px;
    position: absolute;
    width: 100%;
}

.search-songs {
    padding: 24px 0;
    cursor: pointer;
    border-top: 1px solid rgba(255,255,255,.1);

    display: grid;
    grid-template-columns: 1fr 15px;

    @include for-mobile-layout {
        form {
            width: 100%;
        }
        .search-title {
            font-size: 1.3em;
        }
    }

    .search-container {
        grid-column: 1/-1;

        
    }

    .btn-close-search {
        grid-column: 2;
    }
}

.btn-find-more {
    font-family: circular-medium;
    background: none;
    border: none;
    color: $clr8;
    display: block;
    margin-top: 32px;
    margin-left: auto;
    grid-column: 2;
}

.search-page {
    padding: 0 32px;
    @include for-mobile-layout {
        overflow-x:hidden;
        padding: 0 10px;
    }
}

.find-more {
    margin-top: 20px;
}