.station-details {
    background-color: $clr12;
    min-height: 100vh;
    padding-bottom: 20px;
}

.search-station-details-main {
    padding: 0px 20px 0px 31px;
    cursor: pointer;
}

.search-page {
    padding: 0 32px;
}

.find-more {
    margin-top: 20px;
}