.station-details {
    background-color: $clr12;
    min-height: 100vh;
    padding-bottom: 20px;
}

.background-fade {
    background-image: linear-gradient(rgba(0,0,0,.6) 0,#121212 100%);
    height: 232px;
    position: absolute;
    width: 100%;
}

.search-songs {
    padding: 24px 0;
    cursor: pointer;
    border-top: 1px solid rgba(255,255,255,.1);

}

.btn-find-more {
    font-family: circular-medium;
    background: none;
    border: none;
    color: $clr8;
    display: block;
    margin-top: 32px;
    margin-left: auto;
}

.search-page {
    padding: 0 32px;
    @include for-mobile-layout {
        overflow-x:hidden;
    }
}

.find-more {
    margin-top: 20px;
}