.welcome-page {
    background-color: $clr1;
    // background-image: url('https://images.pexels.com/photos/213207/pexels-photo-213207.jpeg');
    background-image: url(../../imgs/Melodify_welcome.jpeg);
    display: grid;
    height: 100vh;
    background-size: cover;

    

    .logo-container {
        height: 60px;
        margin: 20px;
        // display: flex;

        // @media (max-width: $break-sm) {
        //     display: flex;
        //     }

        svg {
            width: 200px;
        }

        g {
            fill: $clr6;
        }

    }

    .main-welcome {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: $clr6;
        font-family: gotham-bold;
        font-size: 30px;

        text-shadow:

            0 0 7px $clr8,
            0 0 10px $clr8,
            0 0 21px $clr8;

        .text-container {
            animation: blur-out-contract-bck 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) reverse both;
        }




    }

    button {
        margin-top: 40px;
        border: none;
        font-weight: 900;
        letter-spacing: 0.1px;
        font-size: 1.25rem;
        background-color: #1db954;
        width: 175px;
        height: 50px;
        border-radius: 1.375rem;
        border: 2px solid #93ebb2;
        cursor: pointer;

        &:hover {
            transform: scale(1.03);
        }
    }

}





@keyframes blur-out-contract-bck {
    0% {
        transform: translateZ(0);
        filter: blur(0.01);
    }

    100% {
        letter-spacing: -0.5em;
        transform: translateZ(-500px);
        filter: blur(12px) opacity(0%);
    }

}