.music-player {
    grid-area: music-player;
    display: flex;
    justify-content: center;
    justify-content: space-between;

    .MuiSlider-thumb {
        height: 12px;
        width: 12px;
    }
    img {
        width: 56px;
    }

    .volume-slide{
        div{
            padding: 1rem;
        }
    }

    .player-controls {
        display: flex;
        justify-content: center;
        flex-direction: column;

        .player-controls-buttons {
            display: flex;
            justify-content: center;
            gap: 16px;
        }

        .playBackSlide {
            display: flex;
            gap: 10px;
        }

        .slideTime {
            font-size: 0.6875rem;
            line-height: 1rem;
            color: $clr9;
        }

        .btn-toggle-play {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 32px;
            width: 32px;
            border-radius: 32px;
            color: #000;
            border: none;
        }

        .btn-play-next,
        .btn-play-prev {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 32px;
            width: 32px;
            border-radius: 32px;
            border: none;
            background: transparent;
            color: rgba(255, 255, 255, .7);
        }
        .MuiSlider-root {
            padding: 3px;
        }
    }

    

}