.nav-container {
    background-color: brown;
    width: 253px;
    grid-area: nav-container;
    .logo-container {
        width: 253px;
        height: 47px;
        
    }
    .nav-list {
        list-style: none;
    }
}