.nav-container {
    background-color: $clr6;
    width: 253px;
    padding-top: 24px; 
    grid-area: nav-container;
    .logo-container {
        width: 253px;
        height: 47px;
        
    }
    .nav-list {
        list-style: none;
    }
}