.song-preview {
    display: grid;
    grid-template-columns: 60px 60px 2fr 80px;
    gap: 5px;
    padding: 6px;
    cursor: default;
    height: 56px;
    align-items: center;

    &:hover {
        .btn-play {
            opacity: 1;
        }

        background-color: rgba(255,255,255,.1);
    }

    .btn-play {
        background-color: transparent;
        opacity: 0;

        &>* {
            fill: $clr8;
        }



    }

    img {
        width: 50px;
    }

    .title {
        align-self: center;
    }

    .button-add {
        border-radius: 500px;
        font-size: inherit;
        padding-block: 12px;
        padding-inline: 26px;
        -webkit-tap-highlight-color: transparent;
        background-color: transparent;
        color: $clr2;
        border: 1px solid var(--essential-subdued,#878787);
    }

    .button-add:focus-visible {
        outline: -webkit-focus-ring-color auto 1px;
    }
}