.hero-container {
    background: linear-gradient(transparent 0, rgba(0, 0, 0, .5) 100%), $clr10;
    height: 40vh;
    display: flex;

    .hero-img {
        width: 22vw;
        height: 20vw;
        max-height: 150px;
        max-width: 150px;
        margin-top: 100px;
        margin-left: 10px;
        margin-bottom: 20px;
        margin-right: 20px;
        justify-content: center;
        background-color: $clr11;
        box-shadow: 0 0 10px 0 rgb(0 0 0 / 46%);
        display: flex;
        align-items: center;
        

        .pencil {
            height: 48px;
            width: 48px;
            display: none;
        }

        .station-def-icon {
            height: 48px;
            width: 48px;
        }
    }

    .hero-img:hover {
        .pencil {
            display: block;
        }

        .station-def-icon {
            display: none;
        }
        img {
            position: absolute;
            z-index: -1;
        }
    }

    .hero-details {
        margin-top: 150px;
        span {
            font-size: 12px;
        }

        h1 {
            padding: 0.08em 0px;
            font-size: 6.2vw;
            // line-height: 96px;
        }
    }
}