.hero-container {
    .hero-content {
        height: 30vh;
        max-height: 500px;
        min-height: 340px;
        display: flex;

        .hero-img-main {
            max-height: 232px;
            max-width: 232px;
            margin-top: 100px;
        }

        .hero-img {
            width: 22vw;
            height: 20vw;
            margin-left: 10px;
            margin-bottom: 20px;
            margin-right: 20px;
            justify-content: center;
            background-color: $clr11;
            box-shadow: 0 0 10px 0 rgb(0 0 0 / 46%);
            display: flex;
            align-items: center;


            .pencil {
                height: 48px;
                width: 48px;
                display: none;
            }

            .station-def-icon {
                height: 48px;
                width: 48px;
            }

            img {
                object-fit: cover;
            }


        }

        .hero-img:hover {
            .pencil {
                display: block;

            }

            .station-def-icon {
                display: none;
            }

            img {
                display: none;
                z-index: -1;
            }
        }

        .hero-details {
            margin-top: 150px;

            span {
                font-size: 12px;
            }

            h1 {
                padding: 0.08em 0px;
                font-size: 6.2vw;
                // line-height: 96px;
            }
        }
    }

    .hero-footer {
        height: 104px;
        background: rgba(40, 39, 39, 0.181);
        display: flex;
        align-items: center;
        padding: 12px;

        button {
            @include btn-toggle-play()
        }
    }
}