* {
  box-sizing: border-box;
}

html {
  font-family: circular-medium, sans-serif, gotham-bold, helvetica, arial, sans-serif;
  font-size: 14px;
}

body {
  margin: 0;
  background-color: black;
}


@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

button {
  font-family: circular, gotham-bold, helvetica, arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}


img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0 0 1rem;
  letter-spacing: -0.04em;
}

p {
  margin: 0 0 1em;
}

.grid {
  display: grid;
}



//SCROLLBAR 

@include for-mobile-layout {
  ::-webkit-scrollbar {
    display: none;
    width: 8px;
  }
}

/* width */
::-webkit-scrollbar {
  background-color: inherit;
  transition: background-color, .4s;
  width: 11px;
  height: 11px;
}


/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, .3);
  transition: background-color .2s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, .4);
}