main.toy-details {
  min-height: 100vh;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  .details-container {
    display: grid;
    // position: absolute;
    // top: 20%;
    // left: 50%;
    // transform: translateX(-50%);
    background: $clr3;
    .img-container {
      max-height: 200px;
    }
  }

  .toy-chat {
    background: #efeae2;
    height: 500px;
    width: 350px;
    display: flex;
    flex-direction: column;

    .msg-list {
      flex: 1;
      overflow: auto;
    }

    .chat-title {
      border: 1px solid #696060;
      background: #fff;
      text-align: center;
      position: sticky;
      top: 0;
    }

    .guest-user-msg {
      background: #fff;
      text-align: center;
      height: 50px;
      font-size: 18px;
    }

    form {
      label[for='msg-box'] {
        display: flex;
        .msg-box {
          width: 100%;
          padding: 9px 12px 11px;
          font-size: 18px;
        }
      }
    }
  }
}
