* {
  box-sizing: border-box;
}

html {
  font-family: circular, gotham-bold, helvetica, arial, sans-serif;
  font-size: 14px;
}

body {
  margin: 0;
}

button {
  font-family: circular, gotham-bold, helvetica, arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}


img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0 0 1rem;
}

p {
  margin: 0 0 1em;
}