.main-layout {
    display: grid;
    grid-template-areas:
        "nav-container main-view"
        "now-playing-bar now-playing-bar";
    grid-template-columns: 250px 1fr;
    grid-template-rows: 60px 1fr 100px;
    height: 100%;
    min-height: 100vh;
    position: relative;
    width: 100%;
}