@font-face {
  font-family: merienda;
  src: url(../../fonts/merienda/Merienda-Regular.ttf);
}
@font-face {
  font-family: Bahnschrift;
  src: url(../../fonts/bahnschrift/Bahnschrift/bahnschrift.ttf);
}
