// COLOR PALETTE
$clr1: #121212;
$clr2: #f0f0f0;
$clr3: #181818;
$clr4: #1ed760;;
$clr5: #1fdf64;
$clr6: #000;
$clr7: #ffffff;


// LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$break-narrow: 664px;
$break-normal: 896px;
$break-wide: 1128px;

$padded-break-narrow: $break-narrow + $layoutPadding * 3;
$padded-break-normal: $break-normal + $layoutPadding * 3;
$padded-break-wide: $break-wide + $layoutPadding * 3;
