/* Media queries Breakpoint mixins */

@mixin for-mobile-layout {
  @media (max-width: $break-sm) {
    @content;
  }
}

@mixin for-small-layout {
  @media (min-width: $break-sm) {
    @content;
  }
}

@mixin for-medium-layout {
  @media (min-width: $break-md) {
    @content;
  }
}

@mixin for-large-layout {
  @media (min-width: $break-lg) {
    @content;
  }
}

@mixin for-extra-large-layout {
  @media (min-width: $break-xl) {
    @content;
  }
}

@mixin layoutGTC($column-count, $grid-gap) {
  grid-gap: $grid-gap;
  grid-template-columns: repeat($column-count, minmax(0, 1fr));
  // grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
}



// Buttons

@mixin btn-toggle-play($bg: $clr4, $clr: $clr6) {
  background-color: $bg;
  color: $clr;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  border-radius: 500px;
  border: none;
  padding: 0;

  &:hover {
    transform: scale(1.07);
    background-color: lighten($bg, 1.5%);
  }
}

@mixin my-btn($type: regular, $bg: $clr4, $clr: $clr2, $padding: em(18px) em(38px), $hover: darken($bg, 8%)) {
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.2s;
  padding: $padding;
  font-size: em(14px);

  @if $type ==regular {
    background-color: $bg;
    color: $clr;

    &:hover {
      background-color: $hover;
    }
  }

  @else if $type ==light {
    background-color: $clr3;
    color: $clr5;

    &:hover {
      background-color: $clr1;
      color: $clr3;
    }
  }
}

@mixin btn($type: regular,
  $bg: $clr1,
  $clr: $clr3,
  $padding: em(24px) em(44px),
  $hover: darken($bg, 8%)) {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: $padding;
  line-height: 1.25;
  font-size: em(14px);
  font-variation-settings: 'wght' 430;
  border: none;
  cursor: pointer;

  transition: background-color 0.2s;

  @if $type ==regular {
    background-color: $bg;
    color: $clr;

    &:hover {
      background-color: $hover;
    }
  }

  @else if $type ==dark {
    background-color: $clr2;
    color: $clr3;

    &:hover {
      background-color: $clr1;
      color: $clr3;
    }
  }

  @else if $type ==light {
    background-color: $clr3;
    color: $clr2;

    &:hover {
      background-color: $clr1;
      color: $clr3;
    }
  }
}

// Type

@mixin type($type: bold) {

  // type options:
  // 1.bold
  // 2.boldCondensed
  // 3.condensed
  @if $type ==bold {
    font-variation-settings: 'wght' 430;
  }

  @else if $type ==boldCondensed {
    font-variation-settings: 'wght' 430, 'wdth' 80;
    letter-spacing: em(6.72px);
  }

  @else if $type ==condensed {
    font-variation-settings: 'wdth' 80;
    letter-spacing: em(6.72px);
  }

  @else if $type ==light {
    font-variation-settings: 'wght' 200;
  }
}