@font-face {
  font-family: circular;
  src: url(../../fonts/Circular/CircularStd-Black.otf);
}

@font-face {
  font-family: circular-light;
  src: url(../../fonts/Circular/CircularStd-Light.otf);
}

@font-face {
  font-family: circular-medium;
  src: url(../../fonts/Circular/CircularStd-Medium.otf);
}

@font-face {
  font-family: gotham-bold;
  src: url(../../fonts/Gotham/GothamBold.ttf);
}