// COLOR PALETTE
$clr1: #121212;
$clr2: #f0f0f0;
$clr3: #181818;
$clr4: #1ed760;
$clr5: #1fdf64;
$clr6: #000;
$clr7: #b3b3b3;
$clr8: #fff;
$clr9: #a7a7a7;
$clr10: rgb(83,83,83);
$clr11: #282828;
$clr12: #121212;
$clr13: #1db954;



// LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$break-sm: 640px;
$break-md: 810px;
$break-lg: 1040px;
$break-xl: 1330px;



// $padded-break-narrow: $break-narrow + $layoutPadding * 3;
// $padded-break-normal: $break-normal + $layoutPadding * 3;
// $padded-break-wide: $break-wide + $layoutPadding * 3;